@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
}

.container {
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 25rem;
  transition: margin-top 1s;
  position: relative;
}

/* .search-container {
} */

.search-container input {
  width: 80rem;
  height: 5rem;
  padding: 3rem 2rem;
  border: none;
  border-radius: 10rem;
  font-size: 2rem;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.search-container input:focus {
  transform: scale(1.1);
}

.search-container input::placeholder {
  color: #aaa;
}

.search-icon {
  position: absolute;
  top: 80%;
  right: 17%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #333;
  transition: color 0.2s;
  z-index: 2;
  cursor: pointer;
}

/* country container */
.countries-container {
  margin-left: 12rem;
  margin-top: 8rem;
  opacity: 0;
}

.country {
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.country img {
  width: 20rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 9px;
  margin-bottom: 2rem;
}

.country-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 3.2rem !important;
}

.country h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
}

.country p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.country strong {
  font-weight: 600;
}

.fadeIn {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}
