* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  background-color: #02172a;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 30, 0.9),
      rgba(0, 0, 30, 0.6)
    ),
    url(../img/netflix-brand-hero-image.jpg);
  position: relative;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.logo {
  width: 150px;
  height: auto;
}

.lan-options {
  margin-right: 1rem;
  padding: 0.3rem 1rem;
  background: none;
  color: #fff;
  border-radius: 5px;
}

.lan-option {
  color: #fff;
}

.sign-in--btn:link,
.sign-in--btn:visited {
  text-decoration: none;
  font-size: 1rem;
  background-color: #e50914;
  color: #fff;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.sign-in--btn:hover,
.sign-in--btn:active {
  background-color: #c70000;
}

.hero {
  color: #fff;
  margin: 6rem 0 0 8rem;
}

.hero-heading {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.hero-cta--text {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.cta-form {
  display: flex;
  gap: 1rem;
}

input {
  width: 400px;
  padding: 1.3rem 2rem;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  color: #fff;
}

input::placeholder {
  color: #999;
}

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.cta-icon {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.cta-btn:hover {
  background-color: #c70000;
}

/* FEATURES SECTION */

.section-features {
  width: 100%;
  background-color: #00081d;
  color: #fff;
  padding: 4rem;
  margin: 0 auto;
}

.feature-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.feature-card {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 34, 66, 0.915),
    rgba(137, 8, 8, 0.415)
  );
  box-shadow: 0 2.4rem 6.4rem rgba(0, 0, 0, 0.5);
  padding: 2rem 6rem;
  border-radius: 8px;
}

.feature-img {
  width: 500px;
  height: auto;
}
.feature-heading {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* FAQ SECTION */
/* accordian hover color = #073968 */

.section-faq {
  background-color: #010d19;
  color: #fff;
}

.accordian-items {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 4rem 0;
}

.faq-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.accordian-item {
  background-color: #012748;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.accordian-question-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.2rem;
  border-bottom: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s;
}

.accordian-question-box:hover {
  background-color: #073968;
}

.accordian-question {
  font-size: 1.4rem;
}
.open-icon {
  font-size: 3rem;
  transition: transform 0.3s linear;
}

.close-icon {
  transform: rotate(-45deg);
}

.accordian-answer-box {
  max-height: 0;
  transition: all 0.5s ease-in-out;
}
.accordian-answer {
  padding: 1.6rem;
  font-size: 1.4rem;
}

.open {
  max-height: 30rem;
}

.cta-faq {
  margin: 2rem 0 1rem 0;
}

.faq-cta input:focus {
  outline: 1px solid #51cf66;
}

/* ****************** */
/* FOOTER */
/* ****************** */
.footer {
  padding: 4rem 0;
  background-color: #010d19;
  color: #fff;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-link:link,
.footer-link:visited {
  text-decoration: underline #ccc;
  display: block;
  color: #ccc;
  margin-bottom: 0.75rem;
}

.number-link:link,
.number-link:visited {
  display: inline-block;
  margin-bottom: 2.5rem;
}

.footer-container .lan-options {
  margin: 2rem 0 2rem 0;
}

.footer-netflex--text,
.footer-container p {
  color: #ccc;
}
